@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Overpass";
}
body{
    background-color:  hsl(216, 12%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
main{
    background-color: hsl(213, 19%, 18%);
    padding: 20px 20px;
    border-radius: 10px;
    width: 280px;
}
.images img{
    padding: 7px 7px;
    background-color: white;
    margin-right: 8px;
    border-radius: 50px;
    background-color:hsl(221, 13%, 24%);
    display: none;
}
section{
    margin-top: 15px;
}
section p{
    margin-top: 8px;
    letter-spacing: 1px;
    font-size: 11px;
    color: hsl(0, 0%, 100%);
    opacity: 80%;
}
section h3{
    font-weight: 600;
    color: hsl(0, 0%, 100%);
}
.buttons{
    margin-top: 20px;
}
.buttons button{
    margin-right: 13px;
    padding: 8px 13px;
    border-radius: 50%;
    border: 0;
    text-align: center;
    font-size: 10px;
    font-weight: 800;
    color: hsl(217, 12%, 63%);
    background-color: hsl(221, 13%, 24%);
}
.submit{
    width: 90%;
    text-align: center;
    margin-top: 15px;
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    letter-spacing: 5px;
    border-radius: 60px;
    font-size: 12px;
    font-weight: 600;
    background-color: hsl(25, 97%, 53%);
    border: none;
}

@media screen and (max-width:480px) {
    main{
        height: 320px;
    }
    .submit{
        width: 95%;
        padding: 17px 17px;
    }
     h3{
        font-weight: 600;
        font-size: 28px;
        color: hsl(0, 0%, 100%);
        margin-bottom: 15px;
    }
    section p{
        margin-top: 15px;
        font-size: 13px;
    }
    .number-buttons{
        margin-top: 20px;
    }
    .number-buttons button{
        padding: 11px 13px;
        text-align: center;
    }
}



